<form class="form-horizontal">
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">SYSTEM</label>
    <div class="col-sm-7 detailcontent">
      <label>
        <input type="radio" name="optradio" [value]="1" [(ngModel)]="mode">DEV</label>
      <label>
        <input type="radio" name="optradio" [value]="2" [(ngModel)]="mode">SIT</label>
      <label>
        <input type="radio" name="optradio" [value]="3" [(ngModel)]="mode">UAT</label>
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">WEB SERVER IP</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="webserverip" [(ngModel)]="webserverip" id="webserverip" placeholder="webserverip">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">APP SERVER IP</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="appserverip" [(ngModel)]="appserverip" id="appserverip" placeholder="appserverip">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">CLOUD DB HOST IP</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="clouddbhostip" [(ngModel)]="clouddbhostip" id="clouddbhostip" placeholder="clouddbhostip">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">CLOUD DB SID</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="cloudDbSid" [(ngModel)]="cloudDbSid" id="cloudDbSid" placeholder="cloudDbSid">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">CLOUD DB PORT</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="cloudDbPort" [(ngModel)]="cloudDbPort" id="cloudDbPort" placeholder="cloudDbPort">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">CLOUD SUPER USER</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="cloudSuperUser" [(ngModel)]="cloudSuperUser" id="cloudSuperUser" placeholder="cloudSuperUser">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">CLOUD SUPER PWD</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="cloudSuperPwd" [(ngModel)]="cloudSuperPwd" id="cloudSuperPwd" placeholder="cloudSuperPwd">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3" for="submit"></label>
      <div class="col-sm-offset-3 col-sm-5">
          <button type="submit" class="btn btn-success" (click)="doSubmit()">Submit</button>
          <a [routerLink]="['/index']" class="btn btn-primary col-sm-offset-1">Back</a>
    </div>
    </div>
</form>


<br>
<br>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Response Field</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Exit Code</td>
        <td>{{result.exitCode}}</td>
      </tr>
      <tr>
        <td>Success Log</td>
        <td>{{result.successLog}}</td>
      </tr>
      <tr>
        <td>Error Log</td>
        <td>{{result.errorLog}}</td>
      </tr>
      <tr>
        <td>Status Text</td>
        <td>{{result.statusText}}</td>
      </tr>
      <tr>
        <td>Properties File Path</td>
        <td>{{result.propertiesFilePath}}</td>
      </tr>
      <!-- <tr>
              <td>Properties To Update</td>
              <td>{{result.propertiesToUpdate}}</td>
            </tr> -->
      <tr>
        <td>Commit Message</td>
        <td>{{result.commitMessage}}</td>
      </tr>
      <tr>
        <td>Properties To Update</td>
        <td>{{result.propertiesToUpdate[0]}}</td>
      </tr>
    </tbody>
  </table>
</div>