<form class="form-horizontal">
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">System</label>
    <div class="col-sm-7">
      <label>
        <input type="radio" name="optradio" [value]="1" [(ngModel)]="mode">DEV</label>
      <label>
        <input type="radio" name="optradio" [value]="2" [(ngModel)]="mode">SIT</label>
      <label>
        <input type="radio" name="optradio" [value]="3" [(ngModel)]="mode">UAT</label>
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">T24 Web</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="t24web" [(ngModel)]="t24web" id="t24web" placeholder="t24web">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">T24 APP</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="t24app" [(ngModel)]="t24app" id="t24app" placeholder="t24app">
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">Database</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="database" [(ngModel)]="database" id="database" placeholder="database">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3" for="submit"></label>
      <div class="col-sm-offset-3 col-sm-5">
          <button type="submit" class="btn btn-success" (click)="doSubmit()">Submit</button>
          <a [routerLink]="['/index']" class="btn btn-primary col-sm-offset-1">Back</a>
    </div>
    </div>
</form>
