<div class="container-fluid">

    <form class="form-horizontal cform-1" #loginForm="ngForm">
        <div class="get-started-form-wrapper">
    
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input name="email" type="text" id="email" class="form-control input-material" [(ngModel)]="login.email" #email="ngModel"
                required/>
              </div>
            
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <span *ngIf="email.errors.required" class="danger">Please enter Email.</span>
            <span *ngIf="email.errors.pattern" class="danger">Please enter valid Email.</span>
          </div>
    
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input name="password" type="password" id="password" class="form-control input-material" [(ngModel)]="login.password" #password="ngModel"
              required/>
            </div>
    
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required" class="danger">Please enter password.</span>
            <span *ngIf="password.errors.pattern" class="danger">Please enter valid password.</span>
          </div>
<!--
          <div class="group inner-addon left-addon">
            <i class="glyphicon glyphicon-list-alt"></i>
            <input name="projectId" type="text" id="projectId" class="form-control input-material" [(ngModel)]="login.projectId" #projectId="ngModel"
              required/>
            <span class="bar"></span>
            <label class="label-material">Project ID</label>
          </div>
    
          <div *ngIf="projectId.errors && (projectId.dirty || projectId.touched)">
            <span *ngIf="projectId.errors.required" class="danger">Please enter Project ID.</span>
            <span *ngIf="projectId.errors.pattern" class="danger">Please enter valid Project ID.</span>
          </div>
        -->
          <div class="form-check mt-20">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <span class="text-normal">By logging in you agree to our T &amp; C and privacy policy</span>
              </label>
            </div>
        <div class="text-right">
            <button type="submit" class="btn block button-get-started" (click)="userLogin(login)"> LOGIN </button>
        </div>
          </div>
      </form>
</div>