<form class="form-horizontal">
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">System Info</label>
    <div class="col-sm-7">
      <span>DEV Server</span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">TDS APP</label>
    <div class="col-sm-7">
      <span>UP</span>
    </div>
  </div>
  <div class="form-group">
    <label for="inputContents" class="col-sm-3 control-label">Database</label>
    <div class="col-sm-7">
      <span>Postgres 10</span>
    </div>
  </div>
</form>