<div class="sidenav">
  <app-infra-left-sidebar></app-infra-left-sidebar>
</div>

<div class="main">
  <div class="well">
    <h2>Deploy Component <span *ngIf="tcibProvisionModel.selectedComponent">: {{tcibProvisionModel.selectedComponent | uppercase}}</span></h2>
  </div>

  <div class="form-group">
    <label for="selectedComponent">Component Name</label>
    <select class="form-control" id="selectedComponent" name="selectedComponent" [(ngModel)] = "tcibProvisionModel.selectedComponent"
      (change) = "loadBranchNames($event)">
      <option *ngFor = "let componentName of componentNames" [value]="componentName">{{componentName | uppercase }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="selectedBranch">Branch Name</label>
    <select class="form-control" id="selectedBranch" name="selectedBranch" [(ngModel)] = "tcibProvisionModel.selectedBranch">
      <option *ngFor="let branchName of branchNames" [value]="branchName"> {{branchName}}</option>
    </select>
  </div> 

  <div class="form-group" id="tapTcibPackageSubmit" *ngIf="tcibProvisionModel.selectedComponent && tcibProvisionModel.selectedBranch  ">
    <label for="submit"></label>
    <button type="sbumit" class="btn btn-primary" (click)="doSubmit()">Deploy {{tcibProvisionModel.selectedComponent}}</button>
  </div>
</div>